.header {
    background: url('https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')
      rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    background-blend-mode: multiply;
    display: grid;
    place-items: center;
  }

  .content {
    width: 100%;
    padding: 0 1rem;
    @media screen and (min-width: 768px) {
      max-width: 50vw;
    }
  }
  